*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body form{
    display: grid;
    width: 35%;
    align-items: center;
    
}
.conteinerForm{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
button{
    background-color: rgb(54, 221, 54);
    color: white;
    border: none;
    margin: auto;
    width: 227px;
    font-size: medium;
    border-radius: 2px;
}
.mensagem {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.positiva {
    background-color: #2ecc71;
}

.negativa {
    background-color: #e74c3c;
}
